{
  "rules": {
    "indent": [
      2,
      "tab"
    ],
    "strict": 0,
    "no-console": 0,
    "quotes": [
      2,
      "double"
    ],
    "semi": [
      2,
      "always"
    ],
    "no-redeclare": [2, {"builtinGlobals": false}],
    "no-prototype-builtins": 0,
    "no-useless-escape": "off"
  },
  "env": {
    "browser": true,
    "node":true
  },
  "extends": "eslint:recommended"
}
